# Dependencies
node_modules/

# Build output
dist/

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.production

# Cloudflare
.wrangler/
